anndata>=0.8.0
numpy>=1.21.6
setuptools>=59.5.0
scanpy>=1.9.1
scipy>=1.9.3
loguru>=0.6.0
hdbscan>=0.8.29
sklearn>=0.0.post2
scikit-learn>=1.2.0
igraph>=0.10.2
leidenalg>=0.9.1
pandas>=1.5.2
SpaGCN>=1.2.5
squidpy>=1.2.2
torch>=1.13.1
opencv-python>=4.6.0